/.idea
/.vscode
/.env
/.env.sample
/.self-update-warp
/docker-compose.yml
.DS_Store
/dist/warp*
*.tar.xz
.warp/lib/commit.sh
.warp/lib/version.sh
**/auth.json
/deploy
/docs/*
# WARP FRAMEWORK
!/warp
!/.warp
!/.warp/**
/.env
/docker-compose-warp.yml
/docker-compose-warp-mac.yml
/docker-sync.yml
!/.env.sample
!/docker-compose-warp.yml.sample
!/docker-compose-warp-mac.yml.sample
!/docker-sync.yml.sample
/.self-update-warp
/.docker-sync
/.warp/docker/volumes
/.warp/docker/dumps
/.warp/setup
/.warp/lib
/.warp/bin
/.warp/docker/config/php/ext-xdebug.ini
/.warp/docker/config/php/ext-ioncube.ini
/release/latest
# FRAMEWORK WARP

